.profileSideBar {
    margin-top: 20px;
    position: sticky;
    top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.profileTabs {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
}

.profileSideBar .icon {
    padding: 0 20px;
    width: 100%;
    height: 350px; /* This if for the object-fit */
}

.profileSideBar .icon img {
    border: 4px solid #0077b6;
    border-radius: 50%;
    position: absolute;
    left:  calc(calc(100% - 350px) / 2);
    width: 350px;
    height: 350px;
    object-fit: cover; /* Equivalent of the background-size: cover; of a background-image */
    object-position: center;
}

.profileSideBar p {
    max-width: 350px;
    overflow-wrap: break-word;
    padding: 5px 0;
}