.container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 20px;
    margin: 0 auto;
    padding: 0 30px;
    max-width: 1200px;
    min-width: 1200px;
    width: 1200px;
}

.container .item4 {
    flex: 4;
}

.container .item8 {
    flex: 8;
}

.container .item12 {
    flex: 12;
    width: 1200px;
    max-width: 1200px;
    min-width: 1200px;
}
